.portfolio__header {
  display: flex;
  height: 100vh;
}

.portfolio__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.portfolio__header-content h1 {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.portfolio__header-content p {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #fff;

  margin-top: 1.5rem;
}

.portfolio__header-transition {
  height: 5rem;
  background: linear-gradient(180deg, rgba(199, 160, 158, 1) 30%, rgba(199, 172, 146, 1) 100%); 
}

.portfolio__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.portfolio__header-content__input input, .portfolio__header-content__input textarea {
  flex: 2;
  width: 100%;
  background: var(--color-footer);
  border-radius: 5px 0px 0px 5px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  background: #FF4820;
  border-radius: 5px 0px 0px 5px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.portfolio__header-content__people img {
  width: 181px;
  height: 38px;
}

.portfolio__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
}

.portfolio__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__header-image img {
  border-radius: 5px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .portfolio__header {
    flex-direction: column;
  }

  .portfolio__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .portfolio__header h1{
    font-size: 48px;
    line-height: 60px;
  }

  .portfolio__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .portfolio__header-content__people {
    flex-direction: column;
  }

  .portfolio__header-content__people p {
    margin: 0;
  }

  .portfolio__header-content__input input,
  .portfolio__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }

}

@media screen and (max-width: 490px) {
  .portfolio__header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .portfolio__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .portfolio__header-content__input input,
  .portfolio__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }

}