.portfolio__library {
  display: flex;
  flex-direction: column;
}

.portfolio__library-each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__library-each-slide-effect img {
  width: 30%;
}

.portfolio__library-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.portfolio__library-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.portfolio__library-container {
  display: flex;
}

.portfolio__library-container_article-image {
  height: 250px;
}

@media screen and (max-width: 700px) {
  .portfolio__library-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__library-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
