.portfolio__contact {
	border: 1px solid white;
	color: white;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	padding: 2rem;
	margin: 4rem;
	border-radius: 1rem;
	background: var(--gradient-bar);
}

.portfolio__contact-content p {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	color: #0E0E0E;
}

.portfolio__contact-content h3 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 24px;
	line-height: 45px;
	color: #000000;
}
	
.portfolio__contact-btn, .portfolio__contact-title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.portfolio__contact-btn button {
	background: #000000;
	border-radius: 40px;	
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	cursor: pointer;
	min-width: 150px;
}

@media screen and (max-width: 650px) {
	.portfolio__contact {
		flex-direction: column;
	}	

	.portfolio__contact-btn {
		margin: 2rem 0 0;
	}
}

@media screen and (max-width: 550px) {
	.portfolio__contact {
		margin: 4rem 2rem;
	}

	.portfolio__contact-content h3 {
		font-size: 18px;
		line-height: 32px;
	}

	.portfolio__contact-btn button {
		font-size: 14px;
		line-height: 28px;
	}
}