.portfolio__skills-container {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.portfolio__experience-skills-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex: 1.5;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio__experience-skills-content {
  padding: 0px;
  background-color: transparent;
  position: relative;
  font-family: var(--font-family);
  display: flex;
  flex-direction: row;
}

.portfolio__experience-skills-content img {
  width: 20px;
  margin-right: 0.5rem;
}

.name {
  color: var(--color-library);
  font-weight: 500;
}
