.portfolio__work-experience-container {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio__experience-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.portfolio__experience-heading h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;
  color: white;
}

.portfolio__experience-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.portfolio__experience-heading h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
}

.portfolio__experience-button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio__experience-button-content img {
  width: 20px;
  margin-right: 0.5rem;
}

.active h3 {
  color: pink;
}

.inactive h3 {
  color: var(--color-library);
}

/* The actual timeline (the vertical ruler) */
.portfolio__experience-timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.portfolio__experience-timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: pink;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.portfolio__experience-timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.portfolio__experience-timeline-container::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: -4px;
  background-color: pink;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.portfolio__experience-timeline-container.left {
  left: 0;
}

/* Place the container to the right */
.portfolio__experience-timeline-container.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.portfolio__experience-timeline-container.right::after {
  left: -8px;
}

/* The actual content */
.portfolio__experience-timeline-content {
  padding: 0px;
  background-color: transparent;
  position: relative;
  font-family: var(--font-family);
}

.portfolio__experience-timeline-content p {
  padding: 3px;
}

.job {
  font-weight: 800;
  color: pink;
}

.description {
  color: white;
}

.date {
  color: var(--color-library);
  font-weight: 500;
}

/* Media queries - Responsive timeline on screens less than 550px wide */
@media screen and (max-width: 550) {
  /* Place the timelime to the left */
  .portfolio__experience-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .portfolio__experience-timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
