@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(199, 160, 158, 1) 0%, rgba(176, 199, 189, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #C7AC92;
  --color-footer : #CC8B86;
  --color-library: #625756;
  --color-text: #C693A9;
  --color-subtext: #FF8A71;
}

